.conversion-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 250px;
    padding-top: 10px;
    background-color: #3e3e3e;
    min-height: 250px;
    border-radius: 5px;
}

.flip-button{
    margin-top: 25px;
    min-width: 200px;
}